.control-panel {
  padding: 10px 35px 10px 50px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(95, 158, 160, 0.5);
  transition: 0.4s;
}

.cp-collapsed {
  height: 30px;
  transition: 0.4s;
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.start-button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.start-button:hover {
  filter: invert(0.8);
}

.settings-inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.controls {
  display: flex;
}

.timer {
  padding: 5px 20px;
  font-size: 1.25em;
  font-weight: bold;
}

.progress-bar {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

progress {
  appearance: none;
  height: 10px;
}

progress::-webkit-progress-bar {
  border-radius: 5px;
}

progress::-webkit-progress-value {
  border-radius: 5px 0 0 5px;
}

progress.red-bar::-webkit-progress-value {
  background-color: red;
}

progress.green-bar::-webkit-progress-value {
  background-color: limegreen;
  border-radius: 5px;
}

progress.blue-bar::-webkit-progress-value {
  background-color: dodgerblue;
}

progress.grey-bar::-webkit-progress-value {
  background-color: grey;
}

.status {
  padding: 5px 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.reset-button {
  margin-left: 20px;
  padding: 0;
  padding-left: 2px;
  font-size: 0.8em;
  font-weight: bolder;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.reset-button:hover {
  filter: invert(0.8);
}
