.control-panel {
  padding: 10px 50px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(95, 158, 160, 0.5);
  transition: 0.4s;
}

.cp-collapsed {
  height: 30px;
  transition: 0.4s;
}

.settings-controls {
  display: flex;
  flex-direction: column;
}
